@charset "UTF-8";

@media screen and (min-width:768px ){
    body{

    }

    header{
        width: 1050px;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
    }

    i#burguer{
        display: none;
    }

    menu{
        display: block;
        padding-right: 15px;
    }

    menu > ul > li {
        display: inline-block;
    }

    menu > ul > li > a{
        border-radius: 10px;
    }

    main {

        background-image: url('../imagens/livros-corte-1050-just.png');
        background-repeat: no-repeat;
        background-position: center;
        height: 335px;
        margin-left: auto;
        margin-right: auto;
    }
}