@charset "UTF-8";

@media screen and (min-width:768px ){
    header{
        width: 1050px;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
    }

    header > a >img.whatsapp{
        display: block;
        width: 65px;
    }
    

    i#burguer{
        display: none;
    }

    menu{
        display: block;
        padding-right: 15px;
    }

    menu > ul > li {
        display: inline-block;
    }

    menu > ul > li > a {
        border-top: none;
    }

    main {
        height: 335px;
        margin-left: auto;
        margin-right: auto;
    }

    main > h1{
        color: white;
    }

    main > h2 {
        color: white;
        
    }
}