@charset "UTF-8";

*{
    padding: 0px;
    margin: 0px;
}

body{
    width: 100hw;
    margin-right: 20px;
    display: block;
    margin-right: auto;
    margin-left: auto;
    background-color: black;
}

header{
    margin-top: 15px;
}

nav{
    text-align: right;
}

nav > a {
    text-decoration: none;
    
    font-weight: bolder;
    font-size: 1.0em;
}