@charset "UTF-8";

*{
    padding: 0px;
    margin: 0px;
}

body{
    width: 100vw;
    height: 100vh;
    margin-right: 20px;
    display: block;
    margin-right: auto;
    margin-left: auto;
    background: linear-gradient(68.15deg, black 16.62%, #BB9362 85.61%);
}

header{
    margin-top: 15px;
}

header > img{
    
}

i#burguer{
    background-color: #BB9362;
    color: rgb(0, 0, 0);
    display: block;
    text-align: center;
    padding: 10px;
    cursor: pointer;
}

i#burguer:hover{
    background-color: white;
    color: black;
}

menu{
    display: none;
}

menu > ul {
    list-style-type: none;
}

menu > ul > li > a{
    display: block;
    padding: 10px;
    text-decoration: none;
    text-align: center;
    background-color: #BB9362;
    color: white;
    border-top: 2px solid gray;
}

menu > ul > li > a:hover{
    background-color: #bb936294;
}


main > h1{
    color: white;
}

main > h2 {
    color: white;
}